:root {
    --font-body: 1rem;
    --line-height-body: 1.6;
    --font-heading: 1.5rem;
    --font-subheading: 1.25rem;
    --color-text: #333;
    --color-bg-alt: #00000007;
    --font-family-base: "Inter", system-ui, sans-serif;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-body);
    line-height: var(--line-height-body);
    color: var(--color-text);
    padding: 1rem;
}

section {
    width: 60%;
    margin-right:20%;
    margin-left: 20%;
    margin-bottom: 10%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th {
    font-size: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 1.3rem 0 0;
    border-bottom: 2px solid #6678b1;
}


td {
    padding: 0.65rem 0;
}

h3 {
    font-size: var(--font-subheading);
    margin: 1rem 0 0.5rem;
}

a:link,
a:visited {
    color: #1e6ea9;
    text-decoration: none;
}

ul {
    margin: 0;
}



